.fotter-section {
    background-color: #edeff0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
    height: 15%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
}

.fotter-text {
    font-family: 'Trebuchet MS', Times, serif;
    text-align: center;  /* Ensure text is centered horizontally */
    font-size: 18px;
}
